*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family:sans-serif;

}

header{
    display: flex;
    flex-direction: column;
}

.container{
    display: flex;
    justify-content:center ;
    align-items: center;
    width: 100%;
    height: calc(100vh - 85px);
    gap: 100px;
}

.menu{
    display: flex;
    justify-content:center ;
    padding: 0, 5%;
    align-items: center;
    height: 85px;
}
.left-side-menu{
    display: flex;
    gap: 50px;
    justify-content:flex-start;
}
nav, ul, li{
    display: inline-block;
    margin-right: 30px;
}
nav, ul, li, a{
    text-decoration: none;
    color: black;
}
.rigth-side-menu{
    display: flex;
    align-items: center;
    gap: 20px;
}
.icon-avatar, img{
    width: 45px;
}
section{
    align-items: center;
    display: block;
}
.line{
    height: 1px;
    background-color:rgb(94, 93, 93);
    width: 90%;
    align-self: center;
}
.left-side{
    display: flex;
    flex-direction:column;
    width: 100%;
}
.items{
    align-self: flex-end;
}
.rigth-side{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.select-image{
    max-width: 430px;
    border-radius: 10px;
}
.select-image, img{
    width: 100%;
}
.imagens-dos-produtos{
    display: flex;
    justify-content: space-evenly;
    max-width: 470px;
}
.thumbnail, img{
    width: 300px;
    border-radius: 10px;
}
.rigth-side, h6{
    color: crimson;
}
.rigth-side, p{
    color: black;
    font-size: 20px;
}
.content{
    max-width: 400px;
    display: flex;
    flex-direction: column;
    gap: 20px;
    align-items: center;
}
.preço{
    color: green;
    font-size: 16px;
    font-weight:200;
}
.desconto{
    font-size: 12px;
    color: red;
}
.quantidade{
    display: flex;
    align-items: center;
    gap: 28px;
    background-color: beige;
    padding: 10px 20px;
    width: fit-content;
    border-radius: 10px;

}
.quantidade, span{
    font-weight: 700;
    font-size: 12px;
}
.menos .mais{
    cursor:pointer ;
}
.botão-carrinho{
    display: inline-block;
    text-decoration:none;
    color: aliceblue;
    background-color:crimson ;
    padding: 10px 30px;
    border-radius:10px ;
    display: flex;
    align-items:center;
    width: fit-content;
    gap: 5px;

}
.opções{
    display: flex;
    gap:20px;
}
body{
    background-color: antiquewhite;
    margin: 0;
    font-family: sans-serif;
}
h3{
    text-align: center;
    font-size: 30px;
    margin: 0;
    padding-top: 10px;
}
a{
    text-decoration: none;
    color:rgb(173, 66, 66);
}
.galeria{
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    justify-content: center;
    align-items: center;
    margin:50px 0;
}
.conteúdo{
    width: 20%;
    margin: 15px;
    box-sizing: border-box;
    float: left;
    text-align: center;
    border-radius: 20px;
    cursor: pointer;
    padding-top: 10px;
    box-shadow: 0 14px 28px grey, 0 10px 10px rgba(0,0,0,0,22);
    transition: .4s;
    background: #f2f2f2;
}
.conteúdo:hover{
    box-shadow: 0 30px 6px rgba(0,0,0,0,16), 0 3px 6px rbga(0,0,0,0,23);
    transform: translate(0px,-8px);
}
img{
    width: 200px;
    height: 200px;
    text-align: center;
    margin: 0 auto;
    display: block;
}
p{
    text-align: center;
    color: rgb(173, 66, 66);
    padding-top: 0 8px;
}
h6{
    font-size: 26px;
    text-align: center;
    color: black;
    margin:0 ;
}
button{
    text-align: center;
    font-size: 24px;
    color: #f2f2f2;
    width: 100%;
    padding: 15px;
    border: 0;
    outline: none;
    cursor: pointer;
    margin-top: 5px;
    border-bottom-right-radius: 20px;
    border-bottom-left-radius: 20px;

}
.buy-1{
    background: crimson;
}
.buy-2{
    background: crimson;
}
.buy-3{
    background: crimson;
}
.buy-4{
    background: crimson;
}
.buy-5{
    background: crimson;
}
.buy-6{
    background: crimson;
}
.buy-7{
    background: crimson;
}
