h1 {
    font-family:fantasy;
    text-shadow: 2px 3px 4px black;
    font-size: 30pt;
    font-style: normal;
    font-weight: bolder;
    color: burlywood;
}

#div1 {
    background-color: brown;
    width: 70pt;
    float: left;
    border: 5pt solid black;
}

#div2 {
    background-color: aqua;
    width: 70pt;
    left: 100pt;
    float: right;
    border: 5pt solid firebrick;
}

#main {
    width: 50%;
}

span {
    
}