* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: rgb(255, 255, 255);
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

h1{
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    text-shadow: 3px 3px 3px;
    background-color: unset;
}

header{
    background-color: yellow;
    height: 100px;
    padding: 10px;
}

main{
    background-color: blue;
    height: 500px;
    padding: 10px;

}

aside{
    background-color: green;
    height: 100px;
    padding: 10px;
    width: 50%;
}

#aside2{
    background-color: blueviolet;
    height: 100px;
    padding: 10px;
    width: 50%;
}

footer{
    background-color: red;
    height: 100px;
    padding: 10px;
}

section{
    background-color: inherit;
    height: 100px;
    padding: inherit;
}

.item{
    background-color:unset;
    border-radius: 5px;
    border: 1px solid black;
    width: fit-content;
    padding: 10px;
    margin: 10px;
    font-size: larger;
    font-weight: bolder;
}

.container{
    background-color:beige;
    padding: 10px;
}

.item:nth-child(1){
    background-color: rgb(0, 255, 179);
}

.item:nth-child(2){
    background-color: cadetblue;
}

.item:nth-child(3){
    background-color: darkkhaki;
}

.item:nth-child(4){
    background-color: darkslateblue;
}

.item:nth-child(5){
    background-color: darkslategray;
}

.item:nth-child(6){
    background-color: dimgrey;
}