*{
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

header{
    background-color: aqua;
    background-position: center;
    padding: 20px;
}

main{
background-color: blue;
padding: 12px;
height: 500px;
}

aside{
    background-color:brown;
    width: 25%;
}

footer{
background-color: blueviolet;
}