h1 {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    text-shadow: 3px 2px 2px black;
    font-size: 30pt;
    font-style: normal;
    font-weight: bolder;
    color: burlywood;
}